// color configurations partial for dark mode.

@use './Sass-Partials/dark-mode-config';

// other sass partials

@use './Sass-Partials/home';
@use './Sass-Partials/about';
@use './Sass-Partials/portfolio';
@use './Sass-Partials/testimonials';
@use './Sass-Partials/contact';
@use './Sass-Partials/side-nav';
@use './Sass-Partials/blog';
@use './Sass-Partials/footer';
@use './Sass-Partials/side-content';
@use './Sass-Partials/main-overlay';
@use './Sass-Partials/purchase-modal';

// basic page settings

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  body {
    font-family: 'Nunito', sans-serif;
  }
  .mont-font {
    font-family: 'Montserrat', sans-serif;
  }
}

// section header styling

.section-header {
  margin-left: 20px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }
  &::after {
    content: '';
    width: 100px;
    margin-top: 10px;
    height: 5px;
    display: block;
    background-color: var(--color-d);
  }
}

// general parent container

.main {
  min-height: 100vh;
  display: flex;
  .side-content {
    .light-mode-switch {
      color: var(--color-b);
    }
    .dark-mode-switch {
      color: var(--color-a);
      display: none;
    }
  }
}

// side(main page) content

.btn-case {
  width: 350px;
  min-height: 55px;
  margin-top: 10px;
  .custom-btn {
    padding: 10px 30px;
    width: inherit;
    background-color: var(--color-d);
    font-size: 18px;
    color: var(--color-e);
    display: block;
    border: none;
    &:hover {
      background-color: var(--color-c);
      color: var(--color-b);
      border-bottom: 3px solid var(--color-d);
      transition: border 0.2s ease;
    }
  }
}
.mobile-only {
  display: none;
}

// Implementation of color mode switching - start
// Implementation of color mode switching - start

// all light mode color config styles stored in Sass variables.

$light-a: #f7f8f9;
$light-b: black;
$light-c: #757575;
$light-d: #212529;
$light-e: white;

.light-body {
  color: $light-b;
  background-color: $light-e;
}

.light-mode-activated {
  transition: all 1.05s ease;
  .section-header {
    color: $light-b;
    &::after {
      background-color: $light-b;
    }
  }
  .side-nav {
    background-color: $light-a;
    .side-nav-link {
      .side-nav-text {
        color: $light-c;
      }
      .side-icons {
        color: $light-d;
      }
    }
  }
  .side-content {
    .custom-btn {
      color: $light-e;
      background-color: $light-d;
      &:hover {
        background-color: $light-c;
        color: $light-a;
        border-bottom: 3px solid $light-d;
      }
    }
    .float-chat-button {
      background-color: $light-b;
      color: $light-e;
    }
    .portfolio-section {
      .tag {
        color: $light-e;
        background-color: $light-d;
        &:hover {
          background-color: $light-c;
          color: $light-e;
        }
      }
    }
    .testimonials {
      .client-photo-case {
        img {
          border: 2px solid $light-b;
        }
      }
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
        filter: invert(1) grayscale(100);
      }
      .carousel-dark .carousel-indicators [data-bs-target] {
        background-color: $light-b;
      }
    }
    .seller-content {
      .seller-photo {
        border: 7px solid $light-b;
      }
      .seller-intro {
        background-color: rgba(255, 255, 255, 0.75);
      }
      .home-social a span {
        color: $light-d;
      }
    }
    .card {
      background-color: $light-e;
    }
    .form-control {
      background-color: $light-e;
    }
    footer {
      color: $light-e;
      background-color: $light-d;
    }
  }
  .main-overlay {
    .overlay-content-case {
      color: $light-d;
      background-color: $light-e;
      &-header {
        color: $light-d;
        box-shadow: 0 0 4px 0px $light-c;
      }
      .photo-credit {
        color: $light-e;
      }
      .post-details {
        color: $light-c;
      }
      .close-main-overlay-btn {
        color: $light-e;
        box-shadow: 0 0 7px 2px $light-e;
      }
    }
  }
}
