@use './Sass-Partials/home';
@use './Sass-Partials/about';
@use './Sass-Partials/portfolio';
@use './Sass-Partials/testimonials';
@use './Sass-Partials/contact';
@use './Sass-Partials/nav';
@use './Sass-Partials/blog';
@use './Sass-Partials/footer';

:root {
  --color-a: #f7f8f9;
  --color-b: black;
  --color-c: #757575;
  --color-d: #212529;
  --color-e: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
.mont-font {
  font-family: "Montserrat", sans-serif;
}
.all-wide {
  width: 100%;
}
.active {
  color: var(--color-d) !important;
}

// Section Header Styles

.section-header {
  margin-left: 10px;
  // border-left: 7px solid var(--color-d);
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
  }
  &::after {
    content: "";
    width: 100px;
    margin-top: 10px;
    height: 5px;
    display: block;
    background-color: var(--color-d);
  }
}
// General parent case

.main {
  min-height: 100vh;
  display: flex;
}

// Side/main page content

.side-content {
  width: 70%;
  margin-left: 30%;
}

.btn-case {
  width: 300px;
  margin-top: 10px;
}

.custom-btn {
  padding: 15px 30px;
  width: 100%;
  background-color: var(--color-d);
  font-size: 18px;
  color: var(--color-e);
  display: block;
  border: 2px solid var(--color-d);
  &:hover {
    background-color: var(--color-e);
  }
}

.mobile-only {
  display: none;
}
