// color configurations for light mode.

@use './Sass-Partials/light-mode-config';

@use './Sass-Partials/home';
@use './Sass-Partials/about';
@use './Sass-Partials/portfolio';
@use './Sass-Partials/testimonials';
@use './Sass-Partials/contact';
@use './Sass-Partials/side-nav';
@use './Sass-Partials/blog';
@use './Sass-Partials/footer';
@use './Sass-Partials/side-content';
@use './Sass-Partials/main-overlay';
@use './Sass-Partials/purchase-modal';

//for demo only

@use './Sass-Partials/sales-nav';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito', sans-serif;
}

.mont-font {
  font-family: 'Montserrat', sans-serif;
}
.all-wide {
  width: 100%;
}
// .active {
//   color: var(--color-d) !important;
// }

// Section Header Styles
.section-header {
  margin-left: 20px;
  // border-left: 7px solid var(--color-d);
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }
  &::after {
    content: '';
    width: 100px;
    margin-top: 10px;
    height: 5px;
    display: block;
    // background-color: var(--color-d);
  }
}
// General parent case

.main {
  min-height: 100vh;
  display: flex;
  .side-content {
    .light-mode-switch {
      color: var(--color-e);
      display: none;
    }
    .dark-mode-switch {
      color: var(--color-d);
      // display: block;
    }
  }
}

// Side/main page content

.btn-case {
  width: 350px;
  min-height: 55px;
  margin-top: 10px;
}

.custom-btn {
  padding: 10px 30px;
  width: inherit;
  background-color: var(--color-d);
  font-size: 18px;
  color: var(--color-e);
  display: block;
  border: none;
  &:hover {
    background-color: var(--color-c);
    color: var(--color-a);
    border-bottom: 3px solid var(--color-d);
    transition: border 0.2s ease;
  }
}

.mobile-only {
  display: none;
}

// Implementation of color mode switching.
// Implementation of color mode switching.

// all dark mode color config styles stored in Sass variables.

$dark-a: #161616;
$dark-b: white;
$dark-c: #6b6a6a;
$dark-d: #b3b3b4;
$dark-e: black;

.dark-body {
  color: $dark-b;
  background-color: $dark-e;
}

.dark-mode-activated {
  transition: all 0.75s ease;
  .section-header {
    color: $dark-b;
    &::after {
      background-color: $dark-b;
    }
  }
  .side-nav {
    background-color: $dark-a;
  }
  .side-nav-link {
    .side-nav-text {
      color: $dark-c;
    }
    .side-icons {
      color: $dark-d;
    }
  }
  .side-content {
    .custom-btn {
      color: $dark-e;
      background-color: $dark-d;
      &:hover {
        background-color: $dark-c;
        color: $dark-a;
        border-bottom: 3px solid $dark-d;
      }
    }
    .float-chat-button {
      background-color: $dark-c;
      color: $dark-e;
    }
    .portfolio-section {
      .tag {
        color: $dark-e;
        background-color: $dark-d;
        &:hover {
          background-color: $dark-c;
          color: $dark-e;
        }
      }
    }
    .testimonials {
      .client-photo-case {
        img {
          border: 2px solid $dark-b;
        }
      }
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
        filter: none;
      }
      .carousel-dark .carousel-indicators [data-bs-target] {
        background-color: $dark-b;
      }
    }
    .seller-content {
      .seller-photo {
        border: 7px solid $dark-b;
      }
      .seller-intro {
        background-color: rgba(0, 0, 0, 0.75);
      }
      .home-social a span {
        color: $dark-d;
      }
    }

    .card {
      background-color: $dark-e;
    }

    .form-control {
      background-color: $dark-e;
      color: $dark-b;
    }

    footer {
      color: $dark-e;
      background-color: $dark-d;
    }
  }
  .main-overlay {
    .overlay-content-case {
      color: $dark-a;
      background-color: $dark-b;
      &-header {
        color: $dark-a;
        box-shadow: 0 0 4px 0px $dark-c;
      }
      .photo-credit {
        color: $dark-b;
      }
      .post-details {
        color: $dark-c;
      }
      .close-main-overlay-btn {
        color: $dark-e;
        // background-color: $dark-d;
        // box-shadow: 0 0 7px 2px $dark-b;
      }
    }
  }
}
