@use "./Sass-Partials/media-queries-config.scss" as config;

@include config.media-breakpoint-xl {
  .contact {
    .contact-form {
      width: 65%;
    }
  }
  .about-section {
    .seller-banner {
      img {
        width: 100%;

        height: 300px;
      }
    }
  }
  .portfolio-section {
    .projects {
      // width: 95%;
      padding: 20px;
    }
  }
  .testimonials {
    .client-quote {
      padding: 20px 120px;
    }
  }
  .main-overlay {
    .overlay-content-case {
      width: 90%;
      .close-main-overlay-btn {
        top: 5px;
        right: 8px;
      }
    }
  }
}

@include config.media-breakpoint-ln {
  .mobile-only {
    display: none;
  }
  .side-nav {
    bottom: 0;
    top: calc(100vh - 100px);
    width: 100%;
    height: 200px;
    display: none;
    // flex-direction: row;
    // justify-content: space-between;

    // display: none;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        display: inline-block;
      }
    }
  }
  .side-content {
    width: 100%;
    margin-left: 0;
    .home {
      height: 650px;
    }
    .seller-content #particlesCase {
      width: 100%;
      height: 650px;
    }
    .seller-content .home-social {
      left: 0;
      top: 500px;
      width: 100%;
      margin: 0 auto;
      flex-direction: row;
    }
    .about-section {
      min-height: 300px;
    }
    .portfolio-section {
      min-height: 300px;
    }
    .contact {
      min-height: 300px;
      .contact-form {
        width: 60%;
      }
    }
    .testimonials {
      min-height: 300px;
      // .client-quote {
      //   padding: 20px 110px;
      // }
    }
    .blog-section {
      min-height: 300px;
    }
  }
}

@include config.media-breakpoint-lg {
  .container {
    max-width: 100%;
  }
  .side-content {
    .portfolio-section {
      .card {
        margin: 0;
      }
    }
    .contact .contact-details {
      padding: 30px 0;
    }
    .testimonials .client-quote {
      padding: 20px 90px;
    }
    .about-section {
      .seller-area {
        width: 98%;
      }
      .seller-banner {
        margin-right: 2%;
        width: 38%;
      }
      .about-text {
        width: 60%;
      }
      .achievements {
        p {
          width: 80%;
        }
      }
    }
  }
  .main-overlay {
    .overlay-content-case {
      width: 95%;
      .close-main-overlay-btn {
        position: relative;
        color: var(--color-d);
        top: 0;
        right: -15px;
      }
    }
  }
}

@include config.media-breakpoint-md {
  .side-content {
    .home {
      .seller-intro {
        padding: 70px 15px 0;
      }
    }
    .about-section {
      .achievements {
        width: 100%;
      }
      .seller-area {
        flex-direction: column;
        .seller-banner {
          width: 100%;
          margin-right: 0;
          img {
            height: 500px;
          }
        }
        .about-text {
          width: 100%;
        }
        .btn-case {
          margin: 50px auto 0;
        }
      }
    }
    .portfolio-section {
      .projects {
        width: 100%;
        .filter-tags {
          padding: 10px 0;
          margin-bottom: 10px;
        }
        .tag {
          background-color: transparent;
          min-width: 50px;
          color: grey;
          font-style: italic;
          margin: 0 5px;
          padding: 10px;
        }
        .card {
          .card-image-case {
            min-height: 350px;
          }
          .slide-up-overlay {
            min-height: 350px;
            transform: translateY(350px);
          }
          .slide-up-overlay_slideUp {
            transform: translateY(0);
            transition: transform 0.5s ease;
          }
          .slide-up-overlay_slideDown {
            transform: translateY(350px);
            transition: transform 0.5s ease;
          }
        }
      }
    }
    .contact {
      .contact-form {
        width: 75%;
      }
      .map-case {
        width: 100%;
      }
      .map-area {
        .address-case {
          width: 50%;
        }
      }
    }
    .testimonials {
      .testimonials-case {
        padding: 50px 20px;
      }
      .carousel-control-next,
      .carousel-control-prev {
        display: none;
      }
    }
  }
}

@include config.media-breakpoint-sm {
  .btn-case {
    min-width: 250px;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
  }

  .col-12,
  .col,
  .col-sm-6,
  .col-md-4 {
    padding: 0 7px;
    margin: 10px 0;
  }
  .side-content {
    .seller-content #particlesCase {
      height: 100vh;
    }
    .seller-intro {
      .seller-brief {
        padding: 0 20px;
      }
    }
    .home {
      height: 100vh;
      .seller-photo {
        width: 200px;
        height: 200px;
      }
      .seller-intro {
        padding: 100px 15px;
      }
    }
    .portfolio-section {
      .projects {
        padding: 0px;
        .tag {
          padding: 10px 0;
        }
      }
    }
    .about-section {
      .achievements {
        .achievement-list {
          flex-direction: column;
        }
        .achievement-item {
          width: 70%;
          margin: 35px auto 0;
          // margin-top: 20px;
        }
      }
    }
    .testimonials {
      .client-quote {
        padding: 20px 0;
      }
    }
    .about-section {
      .about-text {
        text-align: center;
        padding: 15px 0;
      }
      .seller-banner {
        padding: 15px 0;
        img {
          height: 400px;
        }
      }
    }
    .contact {
      .contact-details {
        flex-direction: column;
      }
      .map-area {
        padding: 7px;
      }
      .phone-case,
      .mail-case,
      .address-case {
        width: 50%;
        margin: 20px auto;
      }
      .contact-form {
        width: 90%;
        padding: 10px;
      }
    }
    .blog-section {
      .card {
        margin: 0;
      }
      .blog-container {
        width: 100%;
        // padding: 20px 0px;
      }
    }
    footer {
      flex-direction: column;
      .footer-content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        .social-icons-case {
          margin-bottom: 15px;
        }
      }
    }
  }
  .section-header {
    margin-left: 7px;
  }
}

// @include config.media-breakpoint-xxl {

// no content

// }
