#ignore node-modules folder
node_modules

#ignore all gulp .json files
package.json
package-lock.json

#ignore particles.js folder
particles.js-master
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
