<<<<<<< HEAD
=======
.contact {
  min-height: 100vh;
  width: 100%;
  padding: 10px 0;
  .contact-details {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .phone-case,
  .mail-case,
  .address-case {
    width: 30%;
  }
  .phone-case {
    .social-icons-case {
      margin-top: 10px;
    }
    .social-link {
      text-decoration: none;
      margin: 0 10px;
      // &:hover {
      //   // color: var(--color-c) !important;
      // }
      .social-icons {
        font-size: 16px;
        color: var(--color-c);
      }
    }
  }
  i {
    font-size: 30px;
    margin-bottom: 15px;
  }
  span {
    color: var(--color-c);
  }
  .contact-form {
    margin: 30px auto;
    text-align: center;
    padding: 30px 50px;
    width: 55%;
  }
  .form-header {
    margin-bottom: 30px;
  }
  button {
    background-color: var(--color-d);
    border: none;
    padding: 10px;
    color: var(--color-e);
  }
  .map-case {
    width: 87%;
    height: 400px;
    // border: 1px solid var(--color-d);
    filter: grayscale(1);
    margin: 20px auto 0;
    background-color: black;
    // padding-top: 50px;
    text-align: center;
    font-size: 50px;
  }
  .map-area {
    padding: 20px;
    text-align: center;
    .address-case {
      margin: 0 auto;
    }
    .map-responsive {
      width: 100%;
      height: 396px;
      border: 0;
    }
  }
  .map-area-header {
    @extend .form-header;
  }
}
>>>>>>> save-new-nav-model
