:root {
  --color-a: #161616;
  --color-b: white;
  --color-c: #6b6a6a;
  --color-d: #b3b3b4;
  --color-e: black;
}

body {
  color: white;
  background-color: black;
}

.section-header::after {
  background-color: var(--color-d);
}

.side-nav {
  background-color: var(--color-a);
  .side-nav-link {
    .side-nav-text {
      color: var(--color-c);
    }
    .side-icons {
      color: var(--color-d);
    }
  }
}

.side-content {
  .float-chat-button {
    background-color: var(--color-d);
  }
}

.portfolio-section {
  .projects {
    .tag {
      color: var(--color-e);
      background-color: var(--color-d);
      &:hover {
        background-color: var(--color-c);
        color: var(--color-e);
      }
    }
    .card .slide-up-overlay .project-story-link:hover {
      color: var(--color-b);
    }
  }
}

.seller-content {
  .seller-intro {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.card {
  background-color: black;
}

.form-control {
  background-color: #000;
}

.testimonials {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: none;
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--color-b);
  }
}

.main-overlay {
  .overlay-content-case {
    color: var(--color-e);
    background-color: var(--color-b);
    &-header {
      color: var(--color-a);
      box-shadow: 0 0 4px 0px var(--color-c);
    }
    &-content {
      .caption {
        color: var(--color-c);
      }
    }
    .overlay-content-case-content .story-banner .photo-credit {
      color: var(--color-b);
    }
    .post-details {
      color: var(--color-a);
    }
    .close-main-overlay-btn {
      color: var(--color-d);
      box-shadow: 0 0 7px 2px var(--color-b);
    }
  }
}
