:root {
  --color-a: #161616;
  --color-b: white;
  --color-c: #6b6a6a;
  --color-d: #b3b3b4;
  --color-e: black;
}

body {
  color: white;
  background-color: black;
}

.seller-content {
  .seller-intro {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.card {
  background-color: black;
}

.form-control {
  background-color: #000;
}

.testimonials {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: none;
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--color-b);
  }
}

.main-overlay {
  .overlay-content-case {
    color: var(--color-a);
    background-color: white;
    .photo-credit {
      color: var(--color-b);
    }
    .post-details {
      color: var(--color-a);
    }
  }
}
