:root {
  --color-a: #161616;
  --color-b: white;
  --color-c: #6b6a6a;
  --color-d: #b3b3b4;
  --color-e: black;
}

body {
  color: white;
  background-color: black;
}

.section-header::after {
  background-color: var(--color-d);
}

.side-nav {
  background-color: var(--color-a);
  .side-nav-link {
    .side-nav-text {
      color: var(--color-c);
    }
    .side-icons {
      color: var(--color-d);
    }
  }
}

.side-content {
  .card {
    background-color: black;
  }
  .form-control {
    background-color: #000;
  }
  .float-chat-button {
    background-color: var(--color-d);
  }
  .seller-content {
    .seller-intro {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  .about-section {
    .achievement-item {
      box-shadow: 0 0 25px -10px var(--color-c);
    }
    .portfolio-section {
      .projects {
        .tag {
          color: var(--color-e);
          background-color: var(--color-d);
          &:hover {
            background-color: var(--color-c);
            color: var(--color-e);
          }
        }
        .card {
          .slide-up-overlay {
            .project-story-link:hover {
              color: var(--color-b);
            }
          }
        }
      }
    }

    .testimonials {
      .carousel-dark {
        .carousel-indicators [data-bs-target] {
          background-color: var(--color-b);
        }
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
          filter: none;
        }
      }
    }
    .contact {
      .contact-details {
        .phone-case,
        .main-case,
        .address-case {
          span {
            color: var(--color-c);
          }
        }
        .phone-case {
          .social-icons-case {
            .social-icons {
              color: var(--color-c);
            }
          }
        }
      }
      .contact-form {
        input {
          color: var(--color-c);
        }
        button {
          background-color: var(--color-d);
          color: var(--color-e);
        }
      }
      .map-area {
        .map-case {
          color: var(--color-b);
        }
      }
    }
  }
}

.main-overlay {
  .overlay-content-case {
    color: var(--color-e);
    background-color: var(--color-b);
    &-header {
      color: var(--color-a);
      box-shadow: 0 0 4px 0px var(--color-c);
    }
    &-content {
      .story-banner {
        .photo-credit {
          color: var(--color-b);
        }
      }
      .caption {
        color: var(--color-c);
      }
      .post-details {
        color: var(--color-c);
      }
    }
    .close-main-overlay-btn {
      color: var(--color-b);
      box-shadow: 0 0 7px 2px var(--color-b);
    }
  }
}
