footer {
  min-height: 100px;
  padding: 15px 25px;
  background-color: var(--color-d);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-d);
  color: var(--color-e);
  .footer-content {
    width: 45%;
    margin-top: auto;
    &:last-child {
      text-align: right;
    }
    h5 {
      margin-bottom: 0;
    }
    .social-icons-case {
      margin-top: 30px;
    }
    .social-icons {
      padding-right: 15px;
    }
    .footer-link {
      text-decoration: none;
      // &:hover {
      //   // color: var(--color-c) !important;
      // }
      i {
        font-size: 16x;
        color: var(--color-c);
      }
    }
  }
}
