:root {
  --color-a: #f7f8f9;
  --color-b: black;
  --color-c: #757575;
  --color-d: #212529;
  --color-e: white;
}

body {
  color: black;
  background-color: white;
}

.section-header::after {
  background-color: var(--color-d);
}

.side-nav {
  background-color: var(--color-a);
  .side-nav-link {
    .side-nav-text {
      color: var(--color-c);
    }
    .side-icons {
      color: var(--color-d);
    }
  }
}

.side-content {
  .card {
    background-color: white;
  }
  .form-control {
    background-color: #fff;
  }
  .float-chat-button {
    background-color: var(--color-b);
  }
  .seller-content {
    .seller-intro {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .about-section {
    .achievement-item {
      box-shadow: 0 0 25px -10px var(--color-c);
    }
  }
  .portfolio-section {
    .projects {
      .tag {
        color: var(--color-e);
        background-color: var(--color-d);
        &:hover {
          background-color: var(--color-c);
          color: var(--color-e);
        }
      }
    }
  }
  .contact {
    .contact-details {
      .phone-case,
      .main-case,
      .address-case {
        span {
          color: var(--color-c);
        }
      }
      .phone-case {
        .social-icons-case {
          .social-icons {
            color: var(--color-c);
          }
        }
      }
    }
    .contact-form {
      input {
        color: var(--color-c);
      }
      button {
        background-color: var(--color-d);
        color: var(--color-e);
      }
    }
    .map-area {
      .map-case {
        color: var(--color-b);
      }
    }
  }
}

.main-overlay {
  .overlay-content-case {
    color: var(--color-b);
    background-color: var(--color-e);
    &-header {
      color: var(--color-d);
      box-shadow: 0 0 4px 0px var(--color-c);
    }
    &-content {
      .photo-credit {
        color: var(--color-b);
      }
      .caption {
        color: var(--color-c);
      }
      .post-details {
        color: var(--color-c);
      }
    }
    .close-main-overlay-btn {
      color: var(--color-e);
      box-shadow: 0 0 7px 2px var(--color-e);
    }
  }
}
