:root {
  --color-a: #f7f8f9;
  --color-b: black;
  --color-c: #757575;
  --color-d: #212529;
  --color-e: white;
}

body {
  color: black;
  background-color: white;
}

.seller-content {
  .seller-intro {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.card {
  background-color: white;
}

.form-control {
  background-color: #fff;
}
