:root {
  --color-a: #f7f8f9;
  --color-b: black;
  --color-c: #757575;
  --color-d: #212529;
  --color-e: white;
}

body {
  color: black;
  background-color: white;
}

.side-content {
  .float-chat-button {
    background-color: var(--color-b);
  }
}

.seller-content {
  .seller-intro {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.card {
  background-color: white;
}

.form-control {
  background-color: #fff;
}

.main-overlay {
  .overlay-content-case {
    color: var(--color-b);
    background-color: var(--color-a);
    &-header {
      color: var(--color-d);
      box-shadow: 0 0 4px 0px var(--color-c);
    }
    &-content {
      .caption {
        color: var(--color-d);
      }
    }
    .photo-credit {
      color: var(--color-b);
    }
    .post-details {
      color: var(--color-d);
    }
    .close-main-overlay-btn {
      color: var(--color-e);
      box-shadow: 0 0 7px 2px var(--color-e);
    }
  }
}
