@mixin transit {
  transition: all 0.4s ease;
}

.portfolio-section {
  min-height: 100vh;
  width: 100%;
  padding: 10px 0;
}
.projects {
  padding: 20px 50px;
  width: 95%;
  // display: flex;
  // justify-content: center;
  .card {
    border: none;
    .card-image-case {
      background-size: cover;
      filter: grayscale(1);
      min-height: 272px;
      overflow: hidden;
    }
    .slide-up-overlay {
      min-height: 272px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      transform: translateY(272px);
      padding: 15px;
      color: white;
    }
    .slide-up-overlay {
      h5 {
        color: var(--color-c);
      }
      a {
        color: var(--color-c);
        font-size: 17px;
        &:hover {
          text-decoration: none;
          color: var(--color-e);
        }
      }
    }
    &:hover {
      .card-image-case {
        filter: none;
        @include transit;
      }
      .slide-up-overlay {
        transform: translateY(0);
        @include transit;
      }
    }
  }
  .card-body {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .card-title {
    margin-bottom: 5px;
  }
  .card-text {
    color: var(--color-c);
  }
  .project-details {
    width: 95%;
  }
  .read-on-menu-bar {
    width: 5%;
    text-align: right;
    i {
      font-size: 30px;
      transform: translateY(7px);
      color: var(--color-c);
    }
  }
  .filter-tags {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .tag {
    min-width: 100px;
    text-align: center;
    padding: 10px 15px;
    margin: 0 20px;
    color: var(--color-e);
    background-color: var(--color-d);
    border-radius: 10px;
    transition: background-color 0.7s ease;
    &:hover {
      background-color: var(--color-a);
      color: var(--color-b);
      cursor: pointer;
      // border: 1px solid var(--color-d);
    }
  }
}
