@mixin transit {
  transition: all 0.4s ease;
}

.portfolio-section {
  min-height: 100vh;
  width: 100%;
  padding: 10px 0;
}
.projects {
  padding: 20px 50px;
  width: 95%;
  // display: flex;
  // justify-content: center;
  .row {
    overflow: hidden;
  }
  .card {
    border: none;
    margin: 0 15px 10px;
    .card-image-case {
      background-size: cover;
      filter: grayscale(1);
      min-height: 300px;
      overflow: hidden;
      box-shadow: 0 25px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%);
    }
    .slide-overlay-case {
      width: 100%;
      height: 300px;
      overflow-y: hidden;
    }
    .slide-up-overlay {
      min-height: 300px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      // transform: translateY(300px);
      padding: 15px;
      color: white;
    }
    .slide-up-top {
      display: flex;
      justify-content: space-between;
      .span {
        font-size: 18px;
      }
    }
    // for Javascript(Jquery) addClass
    .slide-up-overlay_slideUp {
      transform: translateY(-300px);
      transition: transform 0.5s ease;
    }
    .slide-up-overlay_slideDown {
      transform: translateY(0);
      transition: transform 0.5s ease;
    }
    .slide-up-overlay {
      h5 {
        color: var(--color-c);
      }
      .project-story-link,
      .project-link a {
        color: var(--color-c);
        font-size: 17px;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: var(--color-e);
        }
      }
    }
    &:hover {
      .card-image-case {
        filter: none;
        @include transit;
      }
    }
  }

  // For Javascript to show filtered project cards || start
  @keyframes fadeIn {
    0% {
      opacity: 0;
      // display: none;
    }
    25% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
      // display: block;
    }
    75% {
      opacity: 0.8;
      // transform: scale(0.5);
    }
    100% {
      opacity: 1;
      // transform: scale(1);
    }
  }
  @keyframes showAll {
    0% {
      transform: scale(0.2);
      // display: none;
    }
    // 20% {
    //   transform: scale(0.6);
    // }
    // 20% {
    //   transform: scale(0.75);

    //   // display: block;
    // }
    // 40% {
    //   transform: scale(0.9);

    //   // transform: scale(0.5);
    // }
    100% {
      transform: scale(1);

      // transform: scale(1);
    }
  }

  // @keyframes fadeIn {
  //   from {
  //     opacity: 1;
  //   }

  //   to {
  //     opacity: 0;
  //   }
  // }
  .hide-list {
    display: none;
  }
  .show-list {
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
  }
  .show-all {
    animation-name: showAll;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  // For Javascript to show filtered project cards || end

  .card-body {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .card-title {
    margin-bottom: 5px;
  }
  .card-text {
    color: var(--color-c);
  }
  // .project-details {
  // }
  .read-on-menu-bar {
    text-align: right;
    cursor: pointer;
    span {
      font-size: 30px;
      // transform: translateY(7px);
      color: var(--color-c);
    }
  }
  .filter-tags {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .tag {
    min-width: 100px;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    color: var(--color-e);
    background-color: var(--color-d);
    border-radius: 10px;
    &:hover {
      transition: background-color 0.5s ease;
      background-color: var(--color-c);
      color: var(--color-e);
      cursor: pointer;
      // border: 1px solid var(--color-d);
    }
  }
}
