// Fixed side nav

.side-nav {
  width: 15%;
  height: 100vh;
  background-color: var(--color-a);
  position: fixed;
  display: flex;
  // border-right: 0.5px solid var(--color-c);
  flex-direction: column;
  justify-content: space-around;
  z-index: 1500;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
  }
  .side-nav-item {
    padding: 7px 0;
    height: 15vh;
  }
  // .active {
  //   color: var(--color-d) !important;
  // }
  .side-nav-link {
    text-decoration: none;
    // color: var(--color-c);
    .side-nav-text {
      color: var(--color-c);
      font-size: 15px;
      padding: 0 20px;
    }
    &:hover {
      .side-nav-text {
        color: var(--color-d);
      }
      .side-icons {
        color: var(--color-c);
      }
    }
    .side-icons {
      font-size: 25px;
      display: block;
      // transform: translateY(2px);
      color: var(--color-d);
    }
  }
  // .side-intro {
  //   // padding-left: 10px;
  //   // border-left: 10px solid var(--color-c);
  //   color: var(--color-d);
  //   h5 {
  //     margin-bottom: 0;
  //   }
  //   .social-icons-case {
  //     margin-top: 10px;
  //   }
  //   .social-icons {
  //     padding-right: 15px;
  //   }
  // }
}
