.testimonials {
  min-height: 100vh;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 50px;
  .testimonials-case {
    padding: 30px 70px;
    text-align: center;
    // background-color: black;
    &:hover {
      img {
        filter: none;
        transition: filter 0.4s ease;
      }
    }
  }
  .testimonials-header {
    margin-bottom: 40px;
  }
  // p {
  //   width: 60%;
  //   margin: 0 auto;
  // }
  .client-photo-case {
    margin-bottom: 15px;
    img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-size: cover;
      filter: grayscale(1);
      border: 2px solid var(--color-d);
    }
  }
  .client-quote {
    padding: 20px 150px;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-c);
  }
  .client-details {
    font-size: 22px;
    span {
      font-weight: bold;
    }
  }
  .carousel-indicators {
    bottom: -50px;
    li {
      background-color: var(--color-b);
    }
  }
}
